@font-face {
    font-family: Suisse Int;
    src: url(lettertypes/SuisseIntl-Light-WebS.woff2) format("woff2");
    font-weight: 300;
    font-style:normal;
}

@font-face {
    font-family: Suisse Int;
    src: url(lettertypes/SuisseIntl-Regular-WebS.woff2) format("woff2");
    font-weight: 400;
    font-style:normal;
}

@font-face {
    font-family: Suisse Int;
    src: url(lettertypes/SuisseIntl-Medium-WebS.woff2) format("woff2");
    font-weight: 500;
    font-style:normal;
}

@font-face {
    font-family: Bw Gradual;
    src: url(lettertypes/BwGradual-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style:normal;
}

:root {
    --theme-bg-color: #fff;
    --theme-text-color: #091c0c;
    --theme-block-bg-color: #eef0ea;
    --theme-line-color: #daddda;
}

*, :after, :before, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior:smooth;
}

body {
    margin: 0;
    /* padding: 1em; */
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
    transition:background-color .25s ease-in-out;
    width: 100%;

    font-family: Suisse Int, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    font-size: 1rem;
    line-height:1.35;
}

body.overlay-is-open {
    overflow: hidden;
    width: 100%;
    max-height:100vh;
}

main section:first-child {
    margin-top: 4.5em;
}

h1 {
    font-family: Bw Gradual, Georgia, Times New Roman, serif;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 2.625rem;
    line-height:1.1
}

h2 {
    font-family: Bw Gradual,Georgia,Times New Roman,serif;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.875rem;
    line-height: 1.1;
}

h3 {
    font-family: Bw Gradual, Georgia, Times New Roman, serif;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1.375rem;
    line-height:1.15
}

h3 {
    max-width: 40.1875rem;
    font-family: "Bw Gradual", Georgia, "Times New Roman", serif;
    font-weight: 800;
    margin-top: 0px;
    font-size: 1.25rem;
    line-height: 1.15;
    margin-bottom: 0px;
}

section {
    margin-top: 2rem;
}

a {
    color: inherit;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink:auto
}

a:focus, a:hover {
    text-decoration:none
}

p {
    margin-top:0
}

em, strong {
    font-weight: 500;
    font-style:normal
}

a, button {
    color:currentColor
}

address {
    font-style:normal
}

audio, canvas, embed, iframe, img, object, video {
    display: block;
}

iframe, img, object, video {
    max-width: 100%;
    height:auto
}

img {
    border-radius: 5px;
}

hr {
    opacity: 50%;
    margin-top: 2em
}

time {
    margin: 1em 0;
}

.hidden {
    display: none;
}



/* .height_null {
    height: 0;
    margin: 0;
    padding: 0;
} */

.styles_hamburger__YOcdE {
    width: 100%;
    transition: color .25s ease-in-out;
}

.styles_menu-overlay-toggle__7qOc7 {
    background: transparent;
    cursor: pointer;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.875rem;
    padding: 0;
    color: currentColor;
}


header {
    margin: 1em;

    & div {    
        display: flex;
        justify-content: space-between;
        width: 100%; 
    }
    & p {
        margin: 1em 0;
        max-width: 700px;
    }
    & a {
        & svg {
            width: 90px;
        }
    }
}

.new {
    margin: 1em;
    & ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        
    }

    & img {
        margin: 1em 0;
    }

    & a:focus, a:hover {
        color: inherit;
        text-decoration: underline;
        -webkit-text-decoration-skip: ink;
        text-decoration-skip-ink:auto
    }
    
    & a {
        text-decoration:none
    }

    & button {
        margin: 2rem 0;
        padding: 1.25rem 2rem;
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: space-around;
        border-radius: 100px;
        background-color: transparent;
        border: 1px solid #091c0c;
        font-size: 1rem;

        & svg {
            rotate: 90deg;
            width: 30px;
            margin: 0 1em;
        }
    }
}

main {
    margin-bottom: 3rem;
}

.category {

    margin: 1em;
    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: .5em;

        /* display: grid; */
        /* grid-template-columns: 100% 80%; */ 

        & li {
            list-style: none;            
            position: relative;

            width: 100%;

            &:first-child {
                width: 100%;
            }

            &:nth-of-type(2) {
                width: calc(50% - .25em);
            }
            &:nth-of-type(3) {
                width: calc(50% - .25em);
            }
            &:nth-of-type(4) {
                width: calc(40% - .25em);
            }
            &:nth-of-type(5) {
                width: calc(60% - .25em);
            }
            &:nth-of-type(6) {
                width: calc(60% - .25em);
            }
            &:nth-of-type(7) {
                width: calc(40% - .25em);
            }
            &:nth-of-type(8) {
                width: calc(50% - .25em);
            }
            &:nth-of-type(9) {
                width: calc(50% - .25em);
            }


            & a {
                display: block;
                padding: 1em .5em;
                padding-right: calc(2em + 40px);
                border-radius: 10px;
                text-decoration: none; 
                background-color: rgb(238, 240, 234);


                

                & div {
                    width: 30px;
                    height: 30px;
                    border: 1px solid;
                    border-radius: 50%;
                    position: absolute;
                    right: .5em;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    align-items:center;
                }


            }

            & .active {
                background-color: #091c0c;
                color: var(--theme-bg-color);
            }
        }
    }

    & svg {
        width: 15px;
        position: absolute;
        border-radius: 50%;
    }


}

.browse {
    /* margin: 1em; */

    & div {
        position: sticky;
        top: 0;
        padding: 0;
        margin: 0;
        /* margin: 0 1em; */
        background-color: var(--theme-bg-color);
        z-index: 99;

        display: flex;
        justify-content: space-between;
        align-items: center;

        & h2 {
            padding: 1rem;
            margin: 0;
        }

        & ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: .5em; 

            & li:first-child {
                color: #EBDBFF;
                text-decoration: underline;
                text-underline-offset: .2em;

                font-size: 1.5rem;
                /* margin: .5em; */
                
            }
        }

        & .nav_browse {
            position: fixed; 
            bottom: -1px;
            right: 0;
            left: 0;
            margin: auto;
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1em;
            /* margin-left: -1em; */

            width: 100%;
            z-index: 100;


            /* font-weight: 800; */

            background-color: #0A1C0D;
            color: var(--theme-bg-color);
            font-family: Bw Gradual,Georgia,Times New Roman,serif;
            font-size: 1rem;
            border-radius: 30px 30px 0 0;

            & button {
                width: 60px;
                height: 50px;


    
                border-radius: 30px;
                background-color: var(--theme-bg-color);
                border: none;

                &:first-child {
                    & svg {
                        rotate: 180deg;
                    }
                }
    
                & svg {
                    height: 20px;
                    color: var(--theme-text-color);

                    
                    /* border: 1px solid var(--theme-text-color); */
                }
            }
        }
    }

    & ul {
        margin: 0 1em;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em; 
        justify-content: center;
        /* grid-auto-rows: 200px; */

        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(300px);
        scroll-snap-type: y mandatory;

        & li {
            grid-row-end: span 10;
        }
        & small {
            opacity: .5;
        }
    }

    & a:focus, a:hover {
        color: inherit;
        text-decoration: underline;
        -webkit-text-decoration-skip: ink;
        text-decoration-skip-ink:auto
    }
    
    & a {
        text-decoration:none


    }

    & p {
        display: none;
    }

    & li {

        scroll-snap-align: start;
        & img {
            height: 15em;

            object-fit: cover;
            object-position: top center;

            /* width: 50px; */
            width: 100%;

            margin: 1em 0;
        }

        &:nth-of-type(2n + 2) {
            & img {
                height: 10em;
                
            }
        }

        &:nth-of-type(2n + 4) {
            & img {
                height: 20em;
                
                
            }
        }
    }
}

footer {
    padding: 1em;
    text-align: center;
    padding: calc(1.5vw + 2em) 0;
    padding-bottom: 5em;
    color: var(--theme-bg-color);
    background-color: #091c0c;
}

.new .new_ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* BREAKPOINT 1 */
@media (min-width:45em) {}

/* BREAKPOINT 2 */
@media (min-width: 75em) {}



@media print {
    [data-element=accordion__content] {
        max-height:100% !important
    }
}

@media (min-width: 40rem) {
    img {
        border-radius: 10px;
    }
}

@media (min-width: 60rem) {
    body {
        font-size: 1.25rem;
        line-height:1.5;
    }

    h1 {
        font-size: 4.375rem;
        line-height:1.05
    }

    h2 {
        font-size:2.625rem
    }

    h3 {
        font-size:1.875rem
    }
    .nav_browse {
        display: none;
    }

    & p {
        display: block;
    }
}

@media (min-width: 80rem) {
    body {
        font-size:1.375rem;
        padding: auto 4rem;
        margin: auto;
        max-width: 89.975rem;
    }

    header {    
        & a {
            & svg {
                width: 100px;
            }
        }
    
    }

    .browse {
        & ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }



    h1 {
        font-size:6.375rem
    }

    h2 {
        font-size:3.375rem
    }

    h3 {
        font-size:2.375rem
    }
}